/* start body */
body {
    background: rgb(238, 163, 78);
    color: black;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    margin: 80;
    padding: 100;
}
/* end body */

/* Start Debug */
.bg-blue {
    background-color: rgb(233, 147, 18)
}

.bg-red {
    background-color: rgb(241, 174, 50)
}
/* End Debug */

/* start container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 90%;

}
/* end container */

.jumbotron h1,
.jumbotron h3 {
  margin: 20px;
}

.jumbotron h4,
.jumbotron p {
  margin: 20px;
}

.jumbotron h4,
.jumbotron ul {
  margin: 20px;
}

/* start logo */
.logo {
    text-align: center;
}
/* end logo */

/* start menu primer */
.menu-primer ul {
    background-color: rgb(226, 138, 23);
    border-radius: 4px;
    box-shadow: 
        0 3px 5px -1px aliceblue;
        0 6px 10px 0 aliceblue;
        0 1px 18px aliceblue;
}

.menu-primer li {
    display: inline-block;
    border-right: 1px solid

}

.menu-primer a {
    color:white;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: aliceblue;
    color: black;
    text-decoration: none;
}

.menu-primer .active {
    background-color: aliceblue;
    color: black;
    text-decoration: none;

}

/* start effect */
@import url(https://https://www.google.com/imgres?imgurl=http%3A%2F%2Fsandraaprilyapermatasari.student.umm.ac.id=Poppins:700;);
.snip1554 {
  background-color: #045e78;
  color: #ffffff;
  display: inline-block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}

.snip1554 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1554:after {
  background-color: white;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  content: '';
  left: -100%;
  position: absolute;
  width: 200px;
  box-shadow: 0 0 100px white;
  -webkit-transform: skew(-20deg);
  transform: skew(-20deg);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.snip1554 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1554 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  line-height: 1em;
  opacity: 0;
}

.snip1554 h3 {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.1em;
  margin: 0;
  text-transform: uppercase;
}

.snip1554 h3 span {
  font-weight: 700;
}

.snip1554 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1554:hover > img,
.snip1554.hover > img {
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.snip1554:hover:after,
.snip1554.hover:after {
  left: 200%;
}

.snip1554:hover figcaption,
.snip1554.hover figcaption {
  opacity: 1;
}
/* end effect */
/* end menu primer */

